<h3>Profit</h3>
<div class="profit-wrapper">
  <div class="d-flex align-items-center justify-content-between">
    <h4>Today Profit</h4>
    <button class="btn btn-success">Export</button>
  </div>
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th class="text-white tablehead" scope="col">#</th>
        <th class="text-white tablehead" scope="col" sortable="name" >Country</th>
        <th class="text-white tablehead" scope="col" sortable="area" >Area</th>
        <th class="text-white tablehead" scope="col" sortable="population" >Population</th>
      </tr>
    </thead>
    <tbody>

        <tr>
          <th scope="row">1</th>
          <td>
            400
          </td>
          <td>100</td>
          <td>200</td>
        </tr>

    </tbody>
  </table>
</div>
