<h2>Stock</h2>
<div>
  <div class="job__search__form--container mt-3 form-wrapper">

    <form >

      <div class="modal-body">
        <div class="input-wrapper">
          <div>
            <label for="">12kg</label>
            <input class="nameinput" placeholder="Quantity" type="number"
              id="purpose"
              autocomplete="off"

            />
          </div>

          <div>
            <label for="">25kg</label>
            <input
              class="nameinput"
              placeholder="Quantity" type="number"
              id="amount"
              autocomplete="off"

            />
          </div>
          <div>
            <label for="">33kg</label>
            <input
              class="nameinput"

              placeholder="Quantity" type="number"
              id="purpose"
              autocomplete="off"

            />
          </div>
          <div>
            <label for="">35kg</label>
            <input
              class="nameinput"

              placeholder="Quantity" type="number"
              id="amount"
              autocomplete="off"

            />
          </div>
          <div>
            <label for="">45kg</label>
            <input
              class="nameinput"

              placeholder="Quantity" type="number"
              id="purpose"autocomplete="off"/>
          </div>
          <div>
            <label for="">Others</label>
            <input class="nameinput"  placeholder="Quantity" type="number" id="amount" autocomplete="off"/>
          </div>

          <div>
            <label for="">Empty 12kg</label>
            <input class="nameinput" placeholder="Quantity" type="number" id="purpose" autocomplete="off"/>
          </div>

          <div>
            <label for="">Empty 25kg</label>
            <input class="nameinput" placeholder="Quantity" type="number"  id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">Empty 33kg</label>
            <input class="nameinput" placeholder="Quantity" type="number" id="purpose"autocomplete="off"/>
          </div>
          <div>
            <label for="">Empty 35kg</label>
            <input class="nameinput" placeholder="Quantity" type="number" id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">Empty 45kg</label>
            <input class="nameinput" id="purpose" autocomplete="off"/>
          </div>
          <div>
            <label for="">Others Empty </label>
            <input class="nameinput" placeholder="Quantity" type="number" id="amount" autocomplete="off"/>
          </div>
        </div>
        <div class="bottomcontent">
          <div>
            <label for="">Price</label>
            <input class="nameinput" placeholder="Price" type="number" id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">Date</label>
            <input class="nameinput" placeholder="Date" type="number" id="amount" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="add-button">
        <button type="submit" class="btn button btn-primary" >Add</button>
      </div>
    </form>

</div>
  <div class="content-area mt-5">
    <form>
      <div class="mb-3 row">
        <label
          for="table-filtering-search"
          class="col-xs-3 col-sm-auto col-form-label"
          >Full text search:</label
        >
        <div class="col-xs-3 col-sm-auto">
          <input
            (keyup)="search(getValue($event))"
            id="table-filtering-search"
            class="form-control"
            type="text"
            placeholder="Enter date"

          />
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-white tablehead" scope="col">Id</th>


          <th class="text-white tablehead" scope="col">12KG</th>
          <th class="text-white tablehead" scope="col">25KG</th>
          <th class="text-white tablehead" scope="col">33KG</th>
          <th class="text-white tablehead" scope="col">35Kg</th>
          <th class="text-white tablehead" scope="col">45KG</th>
          <th class="text-white tablehead" scope="col">Others</th>
          <th class="text-white tablehead" scope="col">Price</th>
          <th class="text-white tablehead" scope="col">Date</th>
          <th class="text-white tablehead" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container >
          <tr *ngFor="let item of pagedSales ; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ item.twelve_kg ? item.twelve_kg : 0 }} /
              {{ item.empty_twelve_kg ? item.empty_twelve_kg : 0 }}
            </td>
            <td>
              {{ item.twentyfive_kg ? item.twentyfive_kg : 0 }} /
              {{ item.empty_twentyfive_kg ? item.empty_twentyfive_kg : 0 }}
            </td>
            <td>
              {{ item.thirtythree_kg ? item.thirtythree_kg : 0 }} /
              {{ item.empty_thirtythree_kg ? item.empty_thirtythree_kg : 0 }}
            </td>
            <td>
              {{ item.thirtyfive_kg ? item.thirtyfive_kg : 0 }} /
              {{ item.empty_thirtyfive_kg ? item.empty_thirtyfive_kg : 0 }}
            </td>
            <td>
              {{ item.fourtyfive_kg ? item.fourtyfive_kg : 0 }} /
              {{ item.empty_fourtyfive_kg ? item.empty_fourtyfive_kg : 0 }}
            </td>
            <td>
              {{ item.others_kg ? item.others_kg : 0 }} /
              {{ item.empty_others_kg ? item.empty_others_kg : 0 }}
            </td>
            <td>{{ item.price }} Tk</td>
            <td>{{ item.date }}</td>
            <td class="d-flex gap-3">
              <i role="button" (click)="editStock(item)" class="bi bi-pencil-square" ></i>
              <i role="button" (click)="deletStock(item)" class="bi bi-trash3-fill"></i>
            </td>
          </tr>
        </ng-container>

        <ng-template #noProducts>
          <tr>
            <td colspan="9" style="text-align: center">No products found</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      [collectionSize]="products$.length"
      (pageChange)="pageChanged($event)"
      aria-label="Pagination">
    </ngb-pagination>
    </div>
  </div>
</div>
