.home-wrapper {
  display: grid;

  grid-template-columns: 2fr 1fr;
  gap: 30px;
  justify-content: center;
}
.chart {
  background-color: white;
  padding: 10px 16px;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.chart-container {
  width: 100%;
  height: 400px !important;
}
#doughnutChart {
  width: 80%;
}
.shortinfo {
  gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: white;
  padding: 10px 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 7px;
}
.stocksort {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  background-color: #ffe53b;
  background-image: radial-gradient(
    circle 976px at 51.2% 51%,
    rgba(11, 27, 103, 1) 0%,
    rgba(16, 66, 157, 1) 0%,
    rgba(11, 27, 103, 1) 17.3%,
    rgba(11, 27, 103, 1) 58.8%,
    rgba(11, 27, 103, 1) 71.4%,
    rgba(16, 66, 157, 1) 100.2%,
    rgba(187, 187, 187, 1) 100.2%
  );
  color: white;
  font-weight: bold;
}
.salesTodysort {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  background-image: linear-gradient(
    96.5deg,
    rgba(39, 103, 187, 1) 10.4%,
    rgba(16, 72, 144, 1) 87.7%
  );
}
.monthselshort {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  background-image: linear-gradient(
    110.3deg,
    rgba(73, 93, 109, 1) 4.3%,
    rgba(49, 55, 82, 1) 96.7%
  );
}
.duemarketsort {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  background-image: radial-gradient(
    circle 610px at 5.2% 51.6%,
    rgba(5, 8, 114, 1) 0%,
    rgba(7, 3, 53, 1) 97.5%
  );
}
.profile {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.recentcustomer {
  background-color: var(--main-bg-color);
  border-radius: 8px;
}
.recentcustomer:hover {
  background-color: white;
  transition: 0.3s ease-in-out;
}
.stockchart {
  width: 100%;
}
.piechart {
  display: flex;

  justify-content: center;
}
.recetnsels {
  background-color: white;
  padding: 10px 16px;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.btn-outline-primary {
  border: none;
  color: none;
}
.btn-outline-primary:hover {
  background-color: var(--table-head-bg-color);
}
@media (max-width: 600px) {
  .shortinfo{
    grid-template-columns: 1fr;
  }
  .home-wrapper{
    grid-template-columns: 1fr;
  }
}
