<div>
  <marquee><strong>Current Stock: <span >12KG {{stockCal.net_stock_twelve_kg}} </span> <span >25Kg {{stockCal.net_stock_twentyfive_kg}} </span> <span >33Kg {{stockCal.net_stock_thirtythree_kg}}</span> <span > 35Kg {{stockCal.net_stock_thirtyfive_kg}}</span> <span> 45kg   {{stockCal.net_stock_fourtyfive_kg}}</span> </strong></marquee>
  <div class="shortinfo mt-2">
    <div class="stocksort rounded">
      <h3>Cash Today</h3>
      <h4>{{this.cash}} TK</h4>
    </div>
    <div class="salesTodysort rounded">
      <h3>Today Sales</h3>
      <h4>{{todaySales}} TK</h4>
    </div>
    <div class="monthselshort rounded">
      <h3>This Month </h3>
      <h4>{{monthSale}} TK</h4>
    </div>
    <div class="duemarketsort rounded">
      <h3>Total Due </h3>
      <h4 *ngFor="let due of customer">{{due.total_due}} TK</h4>
    </div>
  </div>
  <div class="home-wrapper pt-4">
    <div class="chart first-chart">
      <div class="row">
        <div class="col text-end">
          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
              <i class="bi bi-three-dots"></i>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>7Day</button>
              <button ngbDropdownItem>15Day</button>
              <button ngbDropdownItem>30Day</button>
            </div>
          </div>
        </div>
      </div>
      <canvas class="chart-container" id="MyChart"></canvas>
    </div>

    <div class="chart piechart">
      <div>
        <canvas class="" id="doughnutChart"></canvas>
      </div>
    </div>

    <div class="chart">
      <canvas class="stockchart chart-container" id="stockChart"></canvas>
    </div>
    <div class="chart">
      <h3>Recent Customer</h3>
      <div class=" d-flex flex-column gap-3">
        <div *ngFor="let item of recentCustomer$|async" class="d-flex align-items-center gap-2 recentcustomer">
          <img class="profile rounded" src="assets/profile1.jpg" alt="" />
          <span>
            <h6> {{item.name}}</h6>
            <span> {{item.address? item.address: 'Taltola'}} </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 recetnsels">
    <app-recentsels></app-recentsels>
  </div>
</div>
