<h2>Recent Sales</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-white tablehead" scope="col">#</th>
      <th class="text-white tablehead" scope="col">Country</th>
      <th class="text-white tablehead" scope="col">Area</th>
      <th class="text-white tablehead" scope="col">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of countries">
      <th scope="row">{{item.id}}</th>
      <td>
        <img
        [src]="'https://upload.wikimedia.org/wikipedia/commons/' + item.flag"
        [alt]="'The flag of ' + item.name"
        class="me-2"
        style="width: 20px"
      />
      {{ item.name }}
      </td>
      <td>{{ item.area | number }}</td>
      <td>{{ item.population | number }}</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshCountries()"
  >
  </ngb-pagination>


</div>
