.DashBoard {
  background-color: #003049;
  color: white;
  height: 102vh;
  box-shadow: 28px 0px 27px -7px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 20vw;
  margin-top: -70px;

}
.item-wrapper {
  margin-top: 70PX;

}
.sidebariteam {
  cursor: pointer;
}
