<h2 class="">Customers</h2>
<div class="job__search__form--container mt-3">
  <form [formGroup]="newCustomer" (submit)="save()" class="form-control-main">
    <div class="add-customer-form">
      <div class="namewrapper">
        <label for="name">Name</label>
        <input
          class="nameinput"
          placeholder="Enter name"
          id="name"
          autocomplete="off"
          formControlName="name"
        />
        <i class="fa-solid fa-user"></i>
        <div
          *ngIf="
            newCustomer.get('name')?.invalid && newCustomer.get('name')?.touched
          "
        >
          <p class="text-danger error-message">Name is required</p>
        </div>
      </div>

      <div class="namewrapper">
        <label for="code">Location</label>
        <input
          class="location"
          placeholder="Enter location"
          autocomplete="off"
        />
        <i class="fa-solid fa-arrow-down-1-9"></i>
      </div>
    </div>
    <div class="add-button">
      <button
        type="submit"
        class="btn button btn-primary"
        [disabled]="newCustomer.invalid"
      >
        Add
      </button>
    </div>
  </form>

  <div class="content-area mt-5">
    <form>
      <div class="mb-3 row">
        <label
          for="table-filtering-search"
          class="col-xs-3 col-sm-auto col-form-label"
          >Full text search:</label
        >
        <div class="col-xs-3 col-sm-auto">
          <input
            (keyup)="search(getValue($event))"
            id="table-filtering-search"
            class="form-control"
            type="text"
            placeholder="Search a customer"
            formControlName="filter"
          />
        </div>
      </div>
    </form>

    <div class="customertable">
      <table class="table table-striped" id="content" #content>
        <thead class="    ">
          <tr class="">
            <th class="text-white tablehead" scope="col">Id</th>
            <th class="text-white tablehead" scope="col">Name</th>
            <th class="text-white tablehead" scope="col">Total Buy</th>
            <th class="text-white tablehead" scope="col">Total Pay</th>

            <th class="text-white tablehead short">Due</th>
            <th class="text-white tablehead">Report</th>
            <th class="text-white tablehead">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cs of customerList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ cs.name }}</td>
            <td>{{ cs.buy }} Tk</td>
            <td>{{ cs.pay }} Tk</td>
            <td>{{ cs.due }} Tk</td>
            <td class="report" (click)="generateReport(cs.sales, cs.name)">
              Report
            </td>
            <td>
              <i
                (click)="editcustomer(cs)"
                class="bi bi-pencil-square edit"
              ></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
