
<h2 class="">Constants</h2>
<div class="job__search__form--container mt-3">
  <form class="form-control-main">
    <div class="add-customer-form">
      <div class="namewrapper">
        <label for="name">Name</label>
        <input
          class="nameinput"
          placeholder="Enter name"
          id="name"
          autocomplete="off"
          formControlName="name"
        />
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="namewrapper">
        <label for="name">Name</label>
        <input
          class="nameinput"
          placeholder="Enter name"
          id="name"
          autocomplete="off"
          formControlName="name"
        />
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="namewrapper">
        <label for="name">Name</label>
        <input
          class="nameinput"
          placeholder="Enter name"
          id="name"
          autocomplete="off"
          formControlName="name"
        />
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="namewrapper">
        <label for="name">Name</label>
        <input
          class="nameinput"
          placeholder="Enter name"
          id="name"
          autocomplete="off"
          formControlName="name"
        />
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="namewrapper">
        <label for="name">Name</label>
        <input
          class="nameinput"
          placeholder="Enter name"
          id="name"
          autocomplete="off"
          formControlName="name"
        />
        <i class="fa-solid fa-user"></i>
      </div>
      <div class="checkboxwrap">
        <label for="name">Is Buying</label>
        <input type="checkbox"
          class="checkbox"
          placeholder="Enter name"
          id="name"
          autocomplete="off"
          formControlName="name"
        />
        <i class="fa-solid fa-user"></i>
      </div>

    </div>
    <div class="add-button">
      <button class="btn button btn-primary" type="btn">Add</button>
    </div>
  </form>

  <div class="content-area mt-5">
    <form class="pt-5">
      <div class="mb-3 row">
        <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
        <div class="col-xs-3 col-sm-auto">

        </div>
      </div>
    </form>

    <div class="customertable">
      <table class="table table-striped">
        <thead class="    " >
          <tr class="">
            <th  class="text-white tablehead"  scope="col">#</th>
            <th  class="text-white tablehead"  scope="col">Country</th>
            <th  class="text-white tablehead"  scope="col">Area</th>
            <th   class="text-white tablehead" scope="col">Population</th>
            <th class="text-white tablehead">Action</th>
          </tr>
        </thead>
        <tbody>

            <tr >
              <th scope="row"></th>
              <td>
                12
              </td>
              <td>hh</td>
              <td>tt </td>
              <td class="d-flex gap-3 " ><i (click)="editcustomer()" role="button" class="bi bi-pencil-square"></i> </td>
            </tr>

            <tr>
              <td colspan="5" style="text-align: center">No countries found</td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
