/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

:root
{
  --base-color: #F4F4F4;
  --shine-color: rgba(229, 229, 229, 0.8);
  --animation-duration: 2.0s;
  --avatar-offset: calc(10px + 26px);
  --table-head-bg-color: #4361ee;
  --border-color: #D1D4DD;
  --main-bg-color: #EEF2FF;
  --primary-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';


.tablehead{
  background-color: var(--table-head-bg-color);
}

@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}


.add-customer-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;


}
.namewrapper{
  width: 100%;
}
input{
  text-indent: 20px;

}
.nameinput{
  width: 100%;
  height: 40px;
  border: none;
  background-color: #F4F5F9;
  border-radius: 5px;
  margin-top: 10px;
}
input:focus{
  outline: none;
}
.location
{
  width: 100%;
  border: none;
  background-color: #F4F5F9;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
}
.form-control-main{
  border: 1px solid var(--border-color);
  padding: 30px 40px 30px 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.add-button{
  display: flex;
  justify-content: end;
  margin-top: 20px;

}
.button{
padding: 10px 30px 10px 30px;
}
.tablehead{
  background-color: #4361ee;
}
.content-area{
  background-color: white;
  box-shadow: var(--primary-shadow);
  padding: 10px 16px;
  border-radius: 7px;
}

.content-area{
  background-color: white;
  box-shadow: var(--primary-shadow);
  padding: 10px 16px;
  border-radius: 7px;
}
.tablewrapper{
  padding: 10px 16px;
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--primary-shadow);
}
.update
{
  border: none;
  background-color: #6C7AE0;
  padding: 6px 15px 6px 15px;
  border-radius: 6px;
  color: white;
}

.edit{
  cursor: pointer;
}
.add-customer-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;


}
.namewrapper{
  width: 100%;
}
input{
  text-indent: 20px;

}
.nameinput{
  width: 100%;
  height: 40px;
  border: none;
  background-color: #F4F5F9;
  border-radius: 5px;
  margin-top: 4px;
}
input:focus{
  outline: none;
}
.location
{
  width: 100%;
  border: none;
  background-color: #F4F5F9;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
}
.form-control-main{
  border: 1px solid var(--border-color);
  padding: 30px 40px 30px 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.add-button{
  display: flex;
  justify-content: end;
  margin-top: 20px;

}
.button{
padding: 10px 30px 10px 30px;
}
.tablehead{
  background-color: var(--table-head-bg-color);
}
.content-area{
  background-color: white;
  box-shadow: var(--primary-shadow);
  padding: 10px 16px;
  border-radius: 7px;
}
.input-wrapper{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}
.bottomcontent{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.form-group{
  background-color: white;
border-radius: 7px;
  padding: 15px;
  box-shadow: var(--primary-shadow);
}
.input-wrapper{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}
.bottomcontent{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
label
{
  font-size: 12px;
}

input
{
margin-top: 2px;
}
.form-wrapper{
  background-color: white;
  box-shadow: var(--primary-shadow);
  padding: 10px 16px;
  border-radius: 7px;
}
.offcanvas-body{
  padding: 0px !important;
}
.offcanvas-header {
  padding: 0px;
}
.offcanvas.offcanvas-start{
  width: 250px;
}
.offcanvas-body{
  background-color: #003049;
  color: white;
}
.offcanvas-header {
  padding-right: 20px;
  padding-top: 20px !important;
  background-color: #003049;
}
.btn-close{
  color: white !important;
}
body{
  padding-right: 0px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@media (max-width: 600px) {
  .input-wrapper {
    grid-template-columns:  repeat(3, 1fr) !important;
  }
  .nameinput{
    margin-top: 5px;
  }
}
.customertable{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

}
.customertable::-webkit-scrollbar {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  }
