/* You can add global styles to this file, and also import other style files */
:root
{
  --base-color: #F4F4F4;
  --shine-color: rgba(229, 229, 229, 0.8);
  --animation-duration: 2.0s;
  --avatar-offset: calc(10px + 26px);
  --table-head-bg-color: #4361ee;
  --border-color: #D1D4DD;
  --main-bg-color: #EEF2FF;
  --primary-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';


.tablehead{
  background-color: var(--table-head-bg-color);
}

@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}


.add-customer-form{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;


}
.namewrapper{
  width: 100%;
}
input{
  text-indent: 20px;

}
.nameinput{
  width: 100%;
  height: 40px;
  border: none;
  background-color: #F4F5F9;
  border-radius: 5px;
  margin-top: 10px;
}
input:focus{
  outline: none;
}
.location
{
  width: 100%;
  border: none;
  background-color: #F4F5F9;
  border-radius: 5px;
  height: 40px;
  margin-top: 10px;
}
.form-control-main{
  border: 1px solid var(--border-color);
  padding: 30px 40px 30px 40px;
  border-radius: 5px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.add-button{
  display: flex;
  justify-content: end;
  margin-top: 20px;

}
.button{
padding: 10px 30px 10px 30px;
}
.tablehead{
  background-color: #4361ee;
}
.content-area{
  background-color: white;
  box-shadow: var(--primary-shadow);
  padding: 10px 16px;
  border-radius: 7px;
}

.content-area{
  background-color: white;
  box-shadow: var(--primary-shadow);
  padding: 10px 16px;
  border-radius: 7px;
}
.tablewrapper{
  padding: 10px 16px;
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--primary-shadow);
}
.update
{
  border: none;
  background-color: #6C7AE0;
  padding: 6px 15px 6px 15px;
  border-radius: 6px;
  color: white;
}

.edit{
  cursor: pointer;
}
