/* You can add global styles to this file, and also import other style files */
:root
{
  --table-head-bg-color: #4361ee;
  --border-color: #D1D4DD;
  --main-bg-color: #EEF2FF;
  --primary-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@import "~bootstrap-icons/font/bootstrap-icons.css";

.tablehead{
  background-color: var(--table-head-bg-color);
}
