<h2>Sales</h2>
<div>
  <div class="job__search__form--container mt-3">
    <form class="form-control-main">
      <div class="add-customer-form">
        <div class="namewrapper">
          <label for="name">Customer Name</label>
          <input  class="nameinput" placeholder="Enter name" id="name"autocomplete="off" formControlName="name" />
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="namewrapper">
          <label for="code">Product Quantity</label>
          <input class="location"  id="code"  placeholder="Enter Quantity" autocomplete="off"  formControlName="code"  />
          <i class="fa-solid fa-arrow-down-1-9"></i>
        </div>
        <div class="namewrapper">
          <label for="code">Product Quantity</label>
          <input class="location"  id="code"  placeholder="Enter Quantity" autocomplete="off"  formControlName="code"  />
          <i class="fa-solid fa-arrow-down-1-9"></i>
        </div>
        <div class="namewrapper">
          <label for="code">Product Quantity</label>
          <input class="location"  id="code"  placeholder="Enter Quantity" autocomplete="off"  formControlName="code"  />
          <i class="fa-solid fa-arrow-down-1-9"></i>
        </div>
        <div class="namewrapper">
          <label for="code">Product Quantity</label>
          <input class="location"  id="code"  placeholder="Enter location" autocomplete="off"  formControlName="code"  />
          <i class="fa-solid fa-arrow-down-1-9"></i>
        </div>
        <div class="namewrapper">
          <label for="code">Total Price</label>
          <input class="location"  id="code"  placeholder="Total Price" autocomplete="off"  formControlName="code"  />
          <i class="fa-solid fa-arrow-down-1-9"></i>
        </div>
      </div>
      <div class="add-button">
        <button class="btn button btn-primary" type="btn">Add</button>
      </div>
    </form>
</div>
<div class="content-area mt-5">
  <form class="">
    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
      <div class="col-xs-3 col-sm-auto">

      </div>
    </div>
  </form>

  <div class="customertable">
    <table class="table table-striped">
      <thead class="    " >
        <tr class="">
          <th  class="text-white tablehead"  scope="col">#</th>
          <th  class="text-white tablehead"  scope="col">Country</th>
          <th  class="text-white tablehead"  scope="col">Area</th>
          <th   class="text-white tablehead" scope="col">Population</th>
          <th class="text-white tablehead">Action</th>
        </tr>
      </thead>
      <tbody>

          <tr *ngFor="let item of countries$ | async; track item?.name; ">
            <th scope="row"></th>
            <td>
              <img
              [src]="'https://upload.wikimedia.org/wikipedia/commons/' + item.flag"
              [alt]="'The flag of ' + item.name"
              class="me-2"
              style="width: 20px"
              />
              <ngb-highlight [result]="item.name" [term]="filter.value" />
            </td>
            <td><ngb-highlight [result]=" item.area | number" [term]="filter.value" /></td>
            <td><ngb-highlight [result]=" item.population | number" [term]="filter.value" /> </td>
            <td class="d-flex gap-3 " ><i  role="button" (click)="editSales(item)" class="bi bi-pencil-square"></i>  <i role="button" (click)="deletesale(item.name)"   class="bi bi-trash3-fill"></i></td>
          </tr>

          <tr>
            <td colspan="5" style="text-align: center">No countries found</td>
          </tr>

      </tbody>
    </table>
  </div>
</div>
</div>
