<h2>Sales</h2>
<div>
  <div class="job__search__form--container mt-3 form-wrapper">

    <form [formGroup]="saleForm" (submit)="save()" >

      <div class="modal-body">
        <div class="input-wrapper">
          <div>
            <label for="">12kg</label>
            <input class="nameinput" formControlName="twelve_kg" placeholder="Quantity" type="number" id="purpose" autocomplete="off"/>
          </div>

          <div>
            <label for="">25kg</label>
            <input class="nameinput" formControlName="twentyfive_kg" placeholder="Quantity" type="number" id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">33kg</label>
            <input class="nameinput" formControlName="thirtythree_kg" placeholder="Quantity" type="number" id="purpose" autocomplete="off"/>
          </div>
          <div>
            <label for="">35kg</label>
            <input class="nameinput" formControlName="thirtyfive_kg" placeholder="Quantity" type="number" id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">45kg</label>
            <input class="nameinput" formControlName="fourtyfive_kg" placeholder="Quantity" type="number" id="purpose"autocomplete="off"/>
          </div>

          <div>
            <label for="">Empty 12kg</label>
            <input class="nameinput" formControlName="empty_twelve_kg" placeholder="Quantity" type="number" id="purpose" autocomplete="off"/>
          </div>

          <div>
            <label for="">Empty 25kg</label>
            <input class="nameinput" formControlName="empty_twentyfive_kg" placeholder="Quantity" type="number"  id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">Empty 33kg</label>
            <input class="nameinput"  formControlName="empty_thirtythree_kg" placeholder="Quantity" type="number" id="purpose"autocomplete="off"/>
          </div>
          <div>
            <label for="">Empty 35kg</label>
            <input class="nameinput" formControlName="empty_thirtyfive_kg" placeholder="Quantity" type="number" id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">Empty 45kg</label>
            <input class="nameinput" formControlName="empty_fourtyfive_kg" id="purpose" type="number" autocomplete="off"/>
          </div>

          <div>
            <label for="">Price 12kg</label>
            <input class="nameinput" (change)="suming($event )" formControlName="price_twelve_kg" placeholder="Quantity" type="number" id="purpose" autocomplete="off"/>
          </div>

          <div>
            <label for="">Price 25kg</label>
            <input class="nameinput" (change)="suming($event )" formControlName="price_twentyfive_kg" placeholder="Quantity" type="number"  id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">Price 33kg</label>
            <input class="nameinput"  (change)="suming($event )" formControlName="price_thirtythree_kg" placeholder="Quantity" type="number" id="purpose"autocomplete="off"/>
          </div>
          <div>
            <label for="">Price 35kg</label>
            <input class="nameinput" (change)="suming($event )" formControlName="price_thirtyfive_kg" placeholder="Quantity" type="number" id="amount" autocomplete="off"/>
          </div>
          <div>
            <label for="">Price 45kg</label>
            <input class="nameinput"  (change)="suming($event )" formControlName="price_fourtyfive_kg" id="purpose" autocomplete="off"/>
          </div>

        </div>
        <div class="bottomcontent">
          <div>
            <label for="price">Total Price</label>
            <input class="nameinput" formControlName="price"  placeholder="Price" type="number" id="price"  autocomplete="off"/>
            <div *ngIf="saleForm.get('price')?.touched">
              <div class="form-error" *ngIf="saleForm.get('price')?.hasError('required')">Price is required
            </div>
          </div>
          </div>
          <div>
            <label for="">Total pay</label>
            <input class="nameinput" formControlName="pay"  (change)="totalPay($event)" placeholder="pay" type="number" id="pay"  autocomplete="off"/>
          </div>
          <div>
            <label for="">Due</label>
            <input class="nameinput"  formControlName="due" placeholder="due" type="number" id="due" autocomplete="off"/>

          </div>
        </div>
        <div class="selectDate">
          <div>
            <label for="date">Date</label>
            <input class="nameinput" formControlName="date" placeholder="Date" type="date" id="date" autocomplete="off" />
            <div *ngIf="saleForm.get('date')?.touched">
                <div class="form-error text-danger" *ngIf="dateControl?.hasError('required')">Date is required</div>
            </div>
        </div>
        </div>
        <label class="me-2" for="pokemon">Choose customer</label>
        <ng-select (change)="chooseCustomer($event)" [items]="customerList" bindLabel="name" autofocus bindValue="id"></ng-select>
        <div *ngIf="saleForm.get('customer_name')?.touched">
          <div class="form-error text-danger" *ngIf="saleForm.get('customer_name')?.hasError('required')">Customer name is required
        </div>
      </div>
      </div>
      <div class="add-button">
        <a (click)="print()"  class="btn btn-warning me-4"> <i class="bi bi-printer-fill"></i>  PRINT</a>
        <button  type="submit" class="btn button btn-primary" >Add</button>
      </div>
    </form>

</div>
<div class="content-area mt-5">
  <form class="">
    <div class="mb-3 row">
      <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
      <div class="col-xs-3 col-sm-auto">
        <input
        (keyup)="search(getValue($event))"
        id="table-filtering-search"
        class="form-control"
        autocomplete="off"
        type="text"
        placeholder="Name search"
        formControlName="filter"
      />
      </div>
      <div class="col-xs-3 col-sm-auto">
        <input
        autocomplete="off"
        (keyup)="searchDate(getValue($event))"
        id="table-filtering-search"
        class="form-control"
        type="text"
        placeholder="Date search"
        formControlName="filter"
      />
      </div>
    </div>
  </form>

  <div class="customertable">
    <table class="table table-striped">
      <thead class="    " >
        <tr>
          <th class="text-white tablehead" scope="col">Id</th>
          <th class="text-white tablehead" scope="col">Name</th>
          <th class="text-white tablehead" scope="col">Date</th>
          <th class="text-white tablehead" scope="col">12KG</th>
          <th class="text-white tablehead" scope="col">25KG</th>
          <th class="text-white tablehead" scope="col">33KG</th>
          <th class="text-white tablehead" scope="col">35Kg</th>
          <th class="text-white tablehead" scope="col">45KG</th>

          <th class="text-white tablehead" scope="col">Price</th>
          <th class="text-white tablehead" scope="col">Pay</th>
          <th class="text-white tablehead" scope="col">Due</th>
          <th class="text-white tablehead" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sl of pagedSales; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ sl.customer_name }}</td>
          <td>{{ sl.date }}</td>
          <td>
            {{ sl.twelve_kg ? sl.twelve_kg : "0" }} /
            {{ sl.empty_twelve_kg ? sl.empty_twelve_kg : "0" }}
          </td>
          <td>
            {{ sl.twentyfive_kg ? sl.twentyfive_kg : "0" }} /
            {{ sl.empty_twentyfive_kg ? sl.empty_twentyfive_kg : "0" }}
          </td>
          <td>
            {{ sl.thirtythree_kg ? sl.thirtythree_kg : "0" }} /
            {{ sl.empty_thirtythree_kg ? sl.empty_thirtythree_kg : "0" }}
          </td>
          <td>
            {{ sl.thirtyfive_kg ? sl.thirtyfive_kg : "0" }} /
            {{ sl.empty_thirtyfive_kg ? sl.empty_thirtyfive_kg : "0" }}
          </td>
          <td>
            {{ sl.fourtyfive_kg ? sl.fourtyfive_kg : "0" }} /
            {{ sl.empty_fourtyfive_kg ? sl.empty_fourtyfive_kg : "0" }}
          </td>


          <td>
           {{sl.price}} Tk
          </td>
          <td>
           {{sl.pay}} Tk
          </td>
          <td >
           {{sl.due }} Tk
          </td>
          <td ><i (click)="editSales(sl)" class="bi bi-pencil-square edit"></i></td>
        </tr>
        <tr *ngIf="saleList.length == 0">
          <td colspan="11">No list found</td>
        </tr>

      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      [collectionSize]="saleList.length"
      (pageChange)="pageChanged($event)"
      aria-label="Pagination">
    </ngb-pagination>
    </div>
  </div>
</div>
</div>
